#section-header {
    background-color: blue;
    color: white;
    padding: 5px;
}

#accordion {
    width: 400px;
    background-color: yellow;
    margin: auto;
}

#section {
    padding: 5px;
    max-height: 300px;
    transition: max-height 1s linear;
}

#section.collapsed{
    height: auto;
    max-height: 0;
    transition: max-height 1s linear;
}